.about-body{
    background-color: $primary-color;

    .menu-div{
        background-color: rgba(0, 31, 63, 0.623);

        #about-menu-icon{
            color: $secondary-color;
        }

        .nav-list{
            li{
                a{
                    
                color: $secondary-color;
                }
            }
        }
    }
}




.about-main-section{
    background: 
            linear-gradient(
                to right,
                rgba(rgb(173, 239, 209),0.9),
                rgba(rgb(173, 239, 209),0.6),
            ),
            url('../../images/100.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
        

    color: $primary-color;
    text-align: center;
    padding: 1rem;
    h1{
        padding: 1rem;
        text-align: center;
    }
   
    p{
        font-size: 1.5rem;
    }

    
}


.about-sec-section{
    color: $secondary-color;
    background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 32, 63),1.0),
                rgba(rgb(0, 32, 63),0.8),
            ),
            url('../../images/19.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        padding: 1rem;
        margin: 0;
    }
    .service-1, .service-2, .service-3{
        padding: 1rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
        .img{
            width: 100%;
            text-align: center;
            img{
                border-bottom: 4px solid $secondary-color;
                width: 80%;
            }
        }
        .p{
            color: $secondary-color;
            width: 100%;
            text-align: center;
            padding: 1em 0;
            font-size: 1rem;
            margin: 0 auto;
            
        }
    }
    
}


.about-third-section{
    color: $primary-color;
    text-align: center;
    padding: 1rem;
    background: 
            linear-gradient(
                to right,
                rgba(rgb(173, 239, 209),0.9),
                rgba(rgb(173, 239, 209),0.6),
            ),
            url('../../images/20.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        text-align: left;
        padding: 1rem;
    }

    p{
        font-size: 1rem;
        text-align: justify;
        padding: 0.5em;
    }
}


@media screen and (min-width: 768px){
    

    .about-main-section{
        height: 50vh;
      
        p{
            text-align: center;
            font-size: 2rem;
        }
        
    }
    .about-main-section, .about-third-section{
        text-align: left;
    }
    
    .about-sec-section{
        .service-1, .service-3{
            flex-direction: row;
        }
        .service-2{
            flex-direction: row-reverse;
        }

        .service-1, .service-2, .service-3{
            width: 80vw;
            .img{
                width: 40%;
                margin: auto 0;
            }
            .p{
                width: 60%;
                margin: auto 0;
                padding: 1em;
                font-size: 1.5em;
            }
        }
        
    }

    .about-third-section{
        text-align: center;
        padding: 2em;
        
        img{
            width: 50vw;
        }
        p{
            font-size: 1.5em;
            
        }

        
    }
    
}