.contact-main-section{
    text-align: center;
    padding: 1em;
    img{

        width: 80%;

    }
}


.contact-sec-section{
    
    color: $primary-colour;
    &-sub{
        margin: 0 auto;
        width: 60%;
        padding: 1em;
        div{
            padding: 1em;
            
            svg{
                width: 2em;
            }
            span{
                font-size: 1.2em;
                font-weight: bold;
            }
        }
        
    }
    

}

.contact-third-section{
    color: $secondary-colour;
    width: 100%;

    .callback-form{
        
        background-color: $primary-colour;
        padding: 2em;
        width: 80%;
        margin: 1em auto;


        .submit-btn{
            padding: 0.5em 2em;
            margin: 0 auto;
            background-color: $secondary-colour;
            color: $primary-colour;
        }
    }
}