@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-colour: #0000AC;
$secondary-colour: white;
$ternary-colour: black;
$forth-colour: rgb(0, 247, 255);
$fifth-colour: rgb(153, 139, 139);
$sixth-colour: #A19CAA;
$seventh-colour: #fdfdfd;
$eightth-colour: #a4a4e7;
$nineth-colour: #f8f8f8;

$font-fam: 'Poppins', sans-serif;

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $secondary-colour;

    &:hover{
        color: $secondary-colour;
    }
}
.active{
    color: $forth-colour;
    font-size: 1.3em;
    font-weight: bold;
}

body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-fam;

}

.read-more-btn{
    padding: 0.5em 1em;
    background-color: $primary-colour;
    color: $secondary-colour;

    &:hover{
        background-color: $forth-colour;
    }
    
}

.brandzname{
    color: $seventh-colour;
}


@media only screen and (min-width: 768px){
    
    a:hover{
        text-decoration: underline;
    }

    .active{
        text-decoration: underline;
        font-size: 1em;
        color: $secondary-colour;
    }
    
}