@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

$primary-color: #00203fff;
$secondary-color: #adefd1ff;
$third-color: white;
$forth-color: black;
$fifth-color: rgba(0, 31, 63, 0.521);
$sixth-color: rgba(255, 255, 255, 0.637);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



.active{
    text-decoration: underline;
}



.read-more-btn{
    text-align: center;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 0.8rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: linear 0.1s;

    &:hover{
        transform: scale(1.1,1.1);
    }
    
}

.view-more-btn{
    text-align: center;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 0.8rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: linear 0.1s;

    &:hover{
        transform: scale(1.1,1.1);
    }
    
}

.brandzname{
    color: $forth-color;
}


@media only screen and (min-width: 768px){
    
    a:hover{
        text-decoration: underline;
    }

    .active{
        text-decoration: underline;
        font-size: 1em;
        color: $secondary-color;
    }
    
}