.menu-div{
    width: 100%;
    text-align: right;
    z-index: 999;
    
    svg{
        width: 3em;
        height: 3em;
        color: $primary-colour;
    }
}

.navlist{
    height: 100vh;
    width: 100vw;
    background-color: $primary-colour;
    text-align: center;
    color: $secondary-colour;
    padding-top: 7em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    .cross-icon{
        position: absolute;
        right: 2em;
        top: 2.5em;
        width: 2em;

        &:hover{
            transform: scale(1.1,1.1);
        }
    }

    li{
        margin-bottom: 3em;
        font-size: 1.5em;  
        
        &:hover{
            font-weight: bold;
            color: $primary-colour;
        }

        
    }
}



/////////////////////////////////////////////////////////////////////////////
////////////// media queries//////////////////

@media only screen and (min-width: 768px){
    .menu-div{
        svg{
            display: none;
        }
    }
    .nav-list{
        display: flex;
        width: 60%;
        float: right;
        padding: 1em;
        place-content: space-between;
        a{
          color: $primary-colour;
        }
    }

    .navlist{
        display: none;
    }
    
}

@media only screen and (max-width: 768px){
    .nav-list{
        display: none;
    }
}