body{
    background-color: $secondary-color;
}

.product-header{
    display: flex;
    place-content: space-between;
    padding: 1rem;
}

.srch{
    width: 80%;
    .search-icon{
    color: $primary-color;
    width: 2rem;

    
}

.search-inp{
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.1px $forth-color;
    width: 70%;
    background-color: $primary-color;
    color: $secondary-color;
    display: none;

}
}


.product-main-section{

    h2{
        padding: 1rem;
        color: $primary-color;
    }



        .product-main-div{
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            

            .category-div{
                width: 100%;
                // margin: 0.5rem auto;
                height: 50vh;
                text-align: center;
                display: block;
                overflow: hidden;
                border-bottom: 5px solid $primary-color;
                cursor: pointer;
                
                color: $secondary-color;
                div{
                    width: 100%;
                    height: 100%;
                    
                    transition: 0.6s linear;
                    h3{
                        position: relative;
                        top: 50%;
                    }
                    &:hover{
                        transform: scale(1.1);
                    }

                }

                

                
            }
            #category-div-1{
                background: linear-gradient(
                    to right,
                    rgba(rgb(8, 26, 66),0.9),
                    rgba(rgb(8, 26, 66),0.6),
                ),
                url('../../images/2.jpg') center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #category-div-2{
                background: linear-gradient(
                    to right,
                    rgba(rgb(8, 26, 66),0.9),
                    rgba(rgb(8, 26, 66),0.6),
                ),
                url('../../images/3.jpg') center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #category-div-3{
                background: linear-gradient(
                    to right,
                    rgba(rgb(8, 26, 66),0.9),
                    rgba(rgb(8, 26, 66),0.6),
                ),
                url('../../images/8.jpg') center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #category-div-4{
                background: linear-gradient(
                    to right,
                    rgba(rgb(8, 26, 66),0.9),
                    rgba(rgb(8, 26, 66),0.6),
                ),
                url('../../images/9.jpg') center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #category-div-5{
                background: linear-gradient(
                    to right,
                    rgba(rgb(8, 26, 66),0.9),
                    rgba(rgb(8, 26, 66),0.6),
                ),
                url('../../images/6.jpg') center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #category-div-6{
                background: linear-gradient(
                    to right,
                    rgba(rgb(8, 26, 66),0.9),
                    rgba(rgb(8, 26, 66),0.6),
                ),
                url('../../images/10.jpg') center;
                background-repeat: no-repeat;
                background-size: cover;
            }

}
}
#not-found{
    display: none;
    text-align: center;
}


@media screen and (min-width: 768px) {

    .product-main-section{
        .product-main-div{
            flex-direction: row;
            flex-wrap: wrap;

            
            .category-div{
                width: 33.33%;

                
                
            }
        }
    }
    
}