@import 'config';
@import 'menu';
@import 'footer';
@import 'about';
@import 'contact';
@import 'product';


.top-quote{
    height: 2em;
    background-color: $primary-colour;
}



///////////MAIN SECTIONS //////////////////////////////////
.main-section{
    height: 100vh;
    background-image: linear-gradient( rgba(221, 207, 207, 0.418), rgba(0, 0, 0, 0.637)), url(../../images/25.jpg);
    background-size: cover;
    background-position: center;



    

    .heading-div{
        padding-top: 5em;
        width: 100%;
        margin: 0;
        padding: 1em;
        position: relative;
        top: 5em;
        

        .hh1{
            font-weight: bold;
            font-size: 1.5em;
            color: $primary-colour;
            
            
            
            
        }
        
    }
    .hr-one{
        border: 1px solid white;
        opacity: 100;
    }

    p{
        color: $secondary-colour;
        // padding-left: 1em;
    }


    .see-more-btn{
        padding: 0.5em 2em;
        background-color: $primary-colour;
        color: $secondary-colour;
        
    }
    
}


//////////////////// SECOND SECTION //////////////////////////

.second-section{
    width: 100%;
    text-align: center;
    padding: 2em 0;

    img{
        width: 20em;
    }
}


 ////////////////////// 3rd section////////////////////

 .third-section{
    width: 100%;
    color: $primary-colour;

    
    .marquee{
        width: 100%;
        height: 50%;
        overflow: hidden;


        .marquee-content{
            display: flex;
            width: 80vw;
            text-align: center;
            color: $primary-colour;
            animation: scrolling 10s infinite linear;

            @keyframes scrolling {
                0%{
                    transform: translateX(100%);
                }
                100%{
                    transform: translateX(-280%);
                }
            }



            .doctor{
                width: 80%;
                margin: 1em 2em;
                flex-shrink: 0;
                border: 1px solid $fifth-colour;
                padding: 1em;
                white-space: nowrap;

                span{
                    color: $fifth-colour;
                }
                p{
                    color: $ternary-colour;
                }
                

                img{
                    width: 100%;
                }

                


            }
        }
    }

    
            
}



       
        

    



