
@import 'config';
@import 'menu';
@import 'footer';
@import 'about';
@import 'contact';
@import 'product';
@import 'items';



.top-quote{
    height: 12vh;
    background-color: $primary-colour;
    color: $ternary-colour;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid $secondary-colour;
    
    
}



///////////MAIN SECTIONS //////////////////////////////////

.main-section{
    height: 80vh;
    background-image: linear-gradient( rgba(245, 210, 210, 0.418), rgba(97, 89, 89, 0.637)), url(../../images/25.jpg);
    background-size: cover;
    background-position: center;

    .menu-div{
        svg{
            
            color: $secondary-colour;
        }
    }

    



    

    .heading-div{
        padding-top: 5em;
        width: 100%;
        margin: 0;
        padding: 1em;
        position: relative;
        top: 3vh;
        
        

        .hh1{
            font-weight: bold;
            color: $primary-colour;
            text-shadow: 2px 2px #ffffff;
         
            
        }
        
    }
    .hr-one{
        background-color: antiquewhite;
        opacity: 100;
    }

    p{
        color: $secondary-colour;
        font-size: 0.8em;
        // padding-left: 1em;
    }


    .see-more-btn{
        padding: 0.5em 2em;
        background-color: $primary-colour;
        color: $secondary-colour;
        
    }
    
}


//////////////////// SECOND SECTION //////////////////////////

.second-section{
    width: 100%;
    text-align: center;
    padding: 2em;
    background-color: $nineth-colour;

    img{
        width: 70vw;
    }
    p{
        padding: 1em;
        font-size: 0.8;
    }
}


 ////////////////////// 3rd section////////////////////

 .third-section{
    width: 100%;
    color: $primary-colour;
    background-color: $nineth-colour;

    
    .marquee{
        width: 100%;
        height: 50%;
        overflow: hidden;


        .marquee-content{
            display: flex;
            width: 70vw;
            text-align: center;
            color: $primary-colour;
            animation: scrolling 60s infinite linear;

            @keyframes scrolling {
                0%{
                    transform: translateX(100%);
                }
                100%{
                    transform: translateX(-480%);
                }
            }



            .doctor{
                width: 80%;
                margin: 1em 2em;
                flex-shrink: 0;
                border: 1px solid $fifth-colour;
                padding: 0 1em;
                text-align: left;
                background-color: $eightth-colour;
                // white-space: nowrap;
                overflow: wrap;

                
                p{
                    color: $primary-colour;
                }

                .quote{
                    font-size: 5em;
                }
                

                img{
                    width: 100%;
                }

                


            }
        }
    }

    
            
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
       /////////////////Media queries//////////////////////////

@media only screen and (min-width: 768px){
    
        .top-quote{
            height: 8vh;
        }

        .main-section{
            background-position: center;
            height: 100vh;
            .heading-div{
                padding-left: 7em;
                width: 70%;
                top: 10vh;

                p{
                    
                    font-size: 1em;
                }

                
            }
        }

        .second-section{
            display: flex;
            text-align: left;
            img{
                width: 35%;
            }
            p{
                padding: 1em;
                font-size: 1.2em;
                margin: auto 0;
            }
            
        }

        .third-section{
            .marquee{
                .marquee-content{
                    width: 30%
                }
            }
        }
    }
        

    



