
@import 'config';
@import 'menu';
@import 'about';
@import 'contact';
@import 'product';
@import 'items';



.top-quote{
    height: 5vh;
    background-color: $primary-color;
    color: $secondary-color;
    opacity: 90%;
    text-align: center;
    padding: 1em;
    font-size: 0.6rem;
    
    
}



///////////MAIN SECTIONS //////////////////////////////////



.main-section{
    height: 60vh;
    background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba(black,0.6),
            ),
            url('../../images/25.jpg') center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    

    .heading-div{
        padding-top: 5em;
        width: 100%;
        margin: 0;
        padding: 1rem;
        position: relative;
        top: 20%;
        
        

        .hh1{
            font-weight: bold;
            color: $secondary-color;
         
            
        }
        
    }
    

    p{
        color: $secondary-color;
        font-size: 0.8em;
        padding: 1rem;
        border-top: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;
    }


    
}


//////////////////// SECOND SECTION //////////////////////////

.second-section{
    width: 100%;
    text-align: center;
    padding: 2em;
    background-color: $secondary-color;
    color: $primary-color;

    img{
        width: 80%;
    }
    div{
        margin: auto 0;
        p{
            padding: 1em;
            font-size: 0.8;
            text-align: justify;
            margin: 0;

            button{
                margin: 1rem;
            }
        }
    }
}


 ////////////////////// 3rd section////////////////////

 .third-section{
    width: 100%;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 1rem;

    &-img{
        width: 80%;
        padding: 1rem;
        margin: 0 auto;

        img{
            width: 100%;
        }
    }

    &-content{
        margin: 0 auto;
        width: 90%;
        padding: 1rem;
        text-align: center;
        h1{
            text-align: center;
            margin: 0;
        }
        p{
            text-align: justify;
        }
    }

    



    // .marquee{
    //     width: 100%;
    //     height: 50%;
    //     overflow: hidden;


    //     .marquee-content{
    //         display: flex;
    //         width: 70vw;
    //         text-align: center;
    //         color: $primary-color;
    //         animation: scrolling 60s infinite linear;

    //         @keyframes scrolling {
    //             0%{
    //                 transform: translateX(100%);
    //             }
    //             100%{
    //                 transform: translateX(-480%);
    //             }
    //         }



    //         .doctor{
    //             width: 80%;
    //             margin: 1em 2em;
    //             flex-shrink: 0;
    //             border: 1px solid $forth-color;
    //             padding: 0 1em;
    //             text-align: left;
    //             background-color: $forth-color;
    //             // white-space: nowrap;
    //             overflow: wrap;

                
    //             p{
    //                 color: $primary-color;
    //             }

    //             .quote{
    //                 font-size: 5em;
    //             }
                

    //             img{
    //                 width: 100%;
    //             }

                


    //         }
    //     }
    // }

    
            
}



/////////////////// forth section /////////////////////

.forth-section{
    background-color: $secondary-color;
    color: $primary-color;
    padding: 1rem 0;
    text-align: center;
    h1{
        text-align: center;
    }
    
    &-gallery{
        display: flex;
        flex-direction: column;
    }

    button{
        margin: 2rem 1rem;
    }
}



.fifth-section{
    background: 
            linear-gradient(
                to right,
                rgba(rgb(8, 26, 66),0.9),
                rgba(rgb(8, 26, 66),0.6),
            ),
            url('../../images/contact.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $secondary-color;
    text-align: center;
    padding: 3rem;
    h1{
        text-align: center;
        margin: 0;
    }
}

















/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
       /////////////////Media queries//////////////////////////

@media only screen and (min-width: 800px){
    
        .top-quote{
            height: 8%;
            font-size: 1rem;
        }

        .main-section{
            background-position: center;
            height: 100vh;
            .heading-div{
                padding-left: 7em;
                width: 70%;
                top: 25%;

                p{
                    
                    font-size: 1em;
                }

                
            }
        }

        .second-section{
            display: flex;
            img{
                width: 50%;
            }
            p{
                padding: 1em;
                font-size: 1.2em;
                margin: auto 0;
            }
            
        }

        .third-section{
            
            display: flex;
            flex-direction: row-reverse;

            &-content{
                margin: auto 0;
            }
            
            
            
            
            // .marquee{
            //     .marquee-content{
            //         width: 30%
            //     }
            // }
        }

        .forth-section{

            &-gallery{
                flex-direction: row;
                flex-wrap: wrap;

                img{
                    width: 33.33%;
                }
            }
        }
    }
        

    



