@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.read-more-btn {
  text-align: center;
  background-color: #00203fff;
  color: #adefd1ff;
  font-size: 0.8rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: linear 0.1s;
}
.read-more-btn:hover {
  transform: scale(1.1, 1.1);
}

.view-more-btn {
  text-align: center;
  background-color: #adefd1ff;
  color: #00203fff;
  font-size: 0.8rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: linear 0.1s;
}
.view-more-btn:hover {
  transform: scale(1.1, 1.1);
}

.brandzname {
  color: black;
}

footer {
  background-color: black;
  color: #adefd1ff;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .foot-sec-1 {
  min-width: 20%;
  max-width: 50%;
  margin: auto;
  padding: 0.5rem;
}
footer .foot-sec-1 ul {
  list-style-type: none;
  padding: 0;
}
footer .foot-sec-1 ul li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #adefd1ff;
}
footer .foot-sec-2 {
  min-width: 25%;
  max-width: 50%;
  margin: auto;
  padding: 0.5rem;
}
footer .foot-sec-2 .numb {
  font-size: 0.8rem;
}
footer .foot-sec-2 .numb svg {
  width: 1rem;
}
footer .foot-sec-3 {
  min-width: 25%;
  max-width: 50%;
  padding: 0.5rem;
  margin: auto;
}
footer .foot-sec-3 ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
footer .foot-sec-3 ul li {
  width: 2.5rem;
  padding: 0.5rem;
}
footer .foot-sec-4 {
  min-width: 25%;
  max-width: 50%;
  padding: 0.5rem;
  margin: auto;
}
footer .foot-sec-4 .office-address svg {
  width: 1rem;
  display: inline;
}
footer .foot-sec-4 .office-address p {
  display: inline;
  font-size: 0.8rem;
}
footer .foot-sec-5 {
  width: 100%;
  margin: auto;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  a:hover {
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
    font-size: 1em;
    color: #adefd1ff;
  }
}
.menu-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  place-content: space-between;
  padding: 0 1rem;
  background-color: rgba(173, 239, 209, 0.637);
}
.menu-div img {
  width: 25%;
}
.menu-div svg {
  width: 3rem;
  color: #00203fff;
}

.navlist {
  height: 100vh;
  width: 100vw;
  background-color: #00203fff;
  color: #adefd1ff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.navlist img {
  width: 40%;
  padding: 1rem;
}
.navlist .cross-icon {
  color: #adefd1ff;
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  width: 2rem;
}
.navlist .cross-icon:hover {
  transform: scale(1.1, 1.1);
}
.navlist ul {
  display: flex;
  flex-direction: column;
}
.navlist ul li {
  list-style-type: none;
  font-size: 1.5rem;
  color: #00203fff;
  margin-bottom: 1rem;
}
.navlist ul li a {
  text-decoration: none;
  color: #adefd1ff;
}
.navlist ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.navlist ul li .active {
  text-decoration: underline;
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 800px) {
  .menu-div img {
    width: 10%;
  }
  .menu-div svg {
    display: none;
  }

  .nav-list {
    display: flex;
    margin: 0;
    justify-content: right;
    font-size: 1rem;
    margin: auto 0;
  }
  .nav-list li {
    list-style-type: none;
    padding-left: 5rem;
  }
  .nav-list li a {
    color: #00203fff;
    text-decoration: none;
    transition: 0.1s linear;
  }
  .nav-list li a:hover {
    text-decoration: underline;
  }
  .nav-list .active {
    text-decoration: underline;
  }

  .navlist {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}
.about-body {
  background-color: #00203fff;
}
.about-body .menu-div {
  background-color: rgba(0, 31, 63, 0.623);
}
.about-body .menu-div #about-menu-icon {
  color: #adefd1ff;
}
.about-body .menu-div .nav-list li a {
  color: #adefd1ff;
}

.about-main-section {
  background: linear-gradient(to right, rgba(173, 239, 209, 0.9), rgba(173, 239, 209, 0.6)), url("../../images/100.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #00203fff;
  text-align: center;
  padding: 1rem;
}
.about-main-section h1 {
  padding: 1rem;
  text-align: center;
}
.about-main-section p {
  font-size: 1.5rem;
}

.about-sec-section {
  color: #adefd1ff;
  background: linear-gradient(to right, #00203f, rgba(0, 32, 63, 0.8)), url("../../images/19.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-sec-section h1 {
  padding: 1rem;
  margin: 0;
}
.about-sec-section .service-1, .about-sec-section .service-2, .about-sec-section .service-3 {
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about-sec-section .service-1 .img, .about-sec-section .service-2 .img, .about-sec-section .service-3 .img {
  width: 100%;
  text-align: center;
}
.about-sec-section .service-1 .img img, .about-sec-section .service-2 .img img, .about-sec-section .service-3 .img img {
  border-bottom: 4px solid #adefd1ff;
  width: 80%;
}
.about-sec-section .service-1 .p, .about-sec-section .service-2 .p, .about-sec-section .service-3 .p {
  color: #adefd1ff;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  font-size: 1rem;
  margin: 0 auto;
}

.about-third-section {
  color: #00203fff;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(to right, rgba(173, 239, 209, 0.9), rgba(173, 239, 209, 0.6)), url("../../images/20.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-third-section h1 {
  text-align: left;
  padding: 1rem;
}
.about-third-section p {
  font-size: 1rem;
  text-align: justify;
  padding: 0.5em;
}

@media screen and (min-width: 768px) {
  .about-main-section {
    height: 50vh;
  }
  .about-main-section p {
    text-align: center;
    font-size: 2rem;
  }

  .about-main-section, .about-third-section {
    text-align: left;
  }

  .about-sec-section .service-1, .about-sec-section .service-3 {
    flex-direction: row;
  }
  .about-sec-section .service-2 {
    flex-direction: row-reverse;
  }
  .about-sec-section .service-1, .about-sec-section .service-2, .about-sec-section .service-3 {
    width: 80vw;
  }
  .about-sec-section .service-1 .img, .about-sec-section .service-2 .img, .about-sec-section .service-3 .img {
    width: 40%;
    margin: auto 0;
  }
  .about-sec-section .service-1 .p, .about-sec-section .service-2 .p, .about-sec-section .service-3 .p {
    width: 60%;
    margin: auto 0;
    padding: 1em;
    font-size: 1.5em;
  }

  .about-third-section {
    text-align: center;
    padding: 2em;
  }
  .about-third-section img {
    width: 50vw;
  }
  .about-third-section p {
    font-size: 1.5em;
  }
}
.contact-main-section {
  text-align: center;
  padding: 1em;
}
.contact-main-section img {
  width: 80%;
}

.contact-sec-section {
  color: #00203fff;
}
.contact-sec-section-sub {
  margin: 0 auto;
  width: 60%;
  padding: 1em;
}
.contact-sec-section-sub div {
  padding: 1em;
  text-align: center;
}
.contact-sec-section-sub div svg {
  width: 2em;
}
.contact-sec-section-sub div span {
  font-size: 1.2em;
  font-weight: bold;
}

.contact-third-section {
  color: #adefd1ff;
  width: 100%;
}
.contact-third-section .callback-form {
  background-color: #00203fff;
  padding: 2em;
  width: 80%;
  margin: 1em auto;
}
.contact-third-section .callback-form .submit-btn {
  padding: 0.5em 2em;
  margin: 0 auto;
  background-color: #adefd1ff;
  color: #00203fff;
}

@media screen and (min-width: 768px) {
  .contact-page {
    display: flex;
    width: 100%;
    padding: 2em;
  }
  .contact-page .contact-main-section {
    margin: auto 0;
  }
  .contact-page .contact-main-section img {
    width: 100%;
  }
}
body {
  background-color: #adefd1ff;
}

.product-header {
  display: flex;
  place-content: space-between;
  padding: 1rem;
}

.srch {
  width: 80%;
}
.srch .search-icon {
  color: #00203fff;
  width: 2rem;
}
.srch .search-inp {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1px black;
  width: 70%;
  background-color: #00203fff;
  color: #adefd1ff;
  display: none;
}

.product-main-section h2 {
  padding: 1rem;
  color: #00203fff;
}
.product-main-section .product-main-div {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-main-section .product-main-div .category-div {
  width: 100%;
  height: 50vh;
  text-align: center;
  display: block;
  overflow: hidden;
  border-bottom: 5px solid #00203fff;
  cursor: pointer;
  color: #adefd1ff;
}
.product-main-section .product-main-div .category-div div {
  width: 100%;
  height: 100%;
  transition: 0.6s linear;
}
.product-main-section .product-main-div .category-div div h3 {
  position: relative;
  top: 50%;
}
.product-main-section .product-main-div .category-div div:hover {
  transform: scale(1.1);
}
.product-main-section .product-main-div #category-div-1 {
  background: linear-gradient(to right, rgba(8, 26, 66, 0.9), rgba(8, 26, 66, 0.6)), url("../../images/2.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-main-section .product-main-div #category-div-2 {
  background: linear-gradient(to right, rgba(8, 26, 66, 0.9), rgba(8, 26, 66, 0.6)), url("../../images/3.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-main-section .product-main-div #category-div-3 {
  background: linear-gradient(to right, rgba(8, 26, 66, 0.9), rgba(8, 26, 66, 0.6)), url("../../images/8.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-main-section .product-main-div #category-div-4 {
  background: linear-gradient(to right, rgba(8, 26, 66, 0.9), rgba(8, 26, 66, 0.6)), url("../../images/9.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-main-section .product-main-div #category-div-5 {
  background: linear-gradient(to right, rgba(8, 26, 66, 0.9), rgba(8, 26, 66, 0.6)), url("../../images/6.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-main-section .product-main-div #category-div-6 {
  background: linear-gradient(to right, rgba(8, 26, 66, 0.9), rgba(8, 26, 66, 0.6)), url("../../images/10.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}

#not-found {
  display: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .product-main-section .product-main-div {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-main-section .product-main-div .category-div {
    width: 33.33%;
  }
}
.mask-section {
  height: 100%;
  width: 100%;
  background-color: #00203fff;
}
.mask-section .cover-div {
  background: linear-gradient(to right, rgba(173, 239, 209, 0.9), rgba(173, 239, 209, 0.6)), url("../../images/1.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  color: #00203fff;
}

.srch-div .srch-icon {
  width: 2em;
  position: absolute;
  right: 1em;
  top: 1em;
}
.srch-div .search-input {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 1rem;
  background-color: #00203fff;
  color: #adefd1ff;
  width: 60%;
  position: relative;
  top: 0.5em;
  left: 30%;
  display: none;
}

.h1 {
  position: absolute;
  top: 15vh;
  left: 10%;
}

.svg {
  width: 2em;
  position: absolute;
  top: 1em;
  left: 1em;
}

.item-div {
  margin: 0 auto;
  padding: 0 0 2em 0;
  width: 80vw;
  height: 100%;
  position: relative;
  top: -10vh;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.item-div li {
  list-style-type: none;
}
.item-div .item {
  padding: 1em;
  border: 1px solid black;
  margin: 2em auto 0 auto;
  width: 80%;
}
.item-div .item h3 {
  padding: 0.5em;
  margin: 0;
}
.item-div .item img {
  width: 100%;
}
.item-div .item p {
  text-align: left;
  font-size: 0.7em;
}

.covid-section {
  height: 100%;
  width: 100%;
  background-color: black;
}
.covid-section .cover-div {
  background-image: linear-gradient(to right, rgba(165, 144, 144, 0.418), rgba(102, 94, 94, 0.637)), url("../../images/background/covid essentials.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.hospital-section {
  height: 100%;
  width: 100%;
  background-color: black;
}
.hospital-section .cover-div {
  background-image: linear-gradient(to right, rgba(165, 144, 144, 0.418), rgba(102, 94, 94, 0.637)), url("../../images/background/hospital use.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.hygiene-section {
  height: 100%;
  width: 100%;
  background-color: black;
}
.hygiene-section .cover-div {
  background-image: linear-gradient(to right, rgba(165, 144, 144, 0.418), rgba(102, 94, 94, 0.637)), url("../../images/background/personal care or hygiene.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.medical-section {
  height: 100%;
  width: 100%;
  background-color: black;
}
.medical-section .cover-div {
  background-image: linear-gradient(to right, rgba(165, 144, 144, 0.418), rgba(102, 94, 94, 0.637)), url("../../images/background/medical equipments.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.personal-section {
  height: 100%;
  width: 100%;
  background-color: black;
}
.personal-section .cover-div {
  background-image: linear-gradient(to right, rgba(165, 144, 144, 0.418), rgba(102, 94, 94, 0.637)), url("../../images/background/personal use.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

@media screen and (min-width: 768px) {
  .item-div {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
  }
  .item-div .item {
    width: 30%;
  }
}
.top-quote {
  height: 5vh;
  background-color: #00203fff;
  color: #adefd1ff;
  opacity: 90%;
  text-align: center;
  padding: 1em;
  font-size: 0.6rem;
}

.main-section {
  height: 60vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../../images/25.jpg") center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section .heading-div {
  padding-top: 5em;
  width: 100%;
  margin: 0;
  padding: 1rem;
  position: relative;
  top: 20%;
}
.main-section .heading-div .hh1 {
  font-weight: bold;
  color: #adefd1ff;
}
.main-section p {
  color: #adefd1ff;
  font-size: 0.8em;
  padding: 1rem;
  border-top: 1px solid #adefd1ff;
  border-bottom: 1px solid #adefd1ff;
}

.second-section {
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: #adefd1ff;
  color: #00203fff;
}
.second-section img {
  width: 80%;
}
.second-section div {
  margin: auto 0;
}
.second-section div p {
  padding: 1em;
  font-size: 0.8;
  text-align: justify;
  margin: 0;
}
.second-section div p button {
  margin: 1rem;
}

.third-section {
  width: 100%;
  color: #adefd1ff;
  background-color: #00203fff;
  padding: 1rem;
}
.third-section-img {
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
}
.third-section-img img {
  width: 100%;
}
.third-section-content {
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
  text-align: center;
}
.third-section-content h1 {
  text-align: center;
  margin: 0;
}
.third-section-content p {
  text-align: justify;
}

.forth-section {
  background-color: #adefd1ff;
  color: #00203fff;
  padding: 1rem 0;
  text-align: center;
}
.forth-section h1 {
  text-align: center;
}
.forth-section-gallery {
  display: flex;
  flex-direction: column;
}
.forth-section button {
  margin: 2rem 1rem;
}

.fifth-section {
  background: linear-gradient(to right, rgba(8, 26, 66, 0.9), rgba(8, 26, 66, 0.6)), url("../../images/contact.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #adefd1ff;
  text-align: center;
  padding: 3rem;
}
.fifth-section h1 {
  text-align: center;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  .top-quote {
    height: 8%;
    font-size: 1rem;
  }

  .main-section {
    background-position: center;
    height: 100vh;
  }
  .main-section .heading-div {
    padding-left: 7em;
    width: 70%;
    top: 25%;
  }
  .main-section .heading-div p {
    font-size: 1em;
  }

  .second-section {
    display: flex;
  }
  .second-section img {
    width: 50%;
  }
  .second-section p {
    padding: 1em;
    font-size: 1.2em;
    margin: auto 0;
  }

  .third-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .third-section-content {
    margin: auto 0;
  }

  .forth-section-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .forth-section-gallery img {
    width: 33.33%;
  }
}/*# sourceMappingURL=main.css.map */